---
interface Props {
  address?: string;
  mail?: string;
  phone?: string;
  companyName?: string;
}

const { address, mail, phone, companyName = "Lunedit" } = Astro.props;
---

<address
  class="flex flex-col items-center text-center not-italic md:items-start md:text-left"
>
  <p class="mb-4 text-xl font-bold uppercase">{companyName}</p>

  {
    address && (
      <p class="mb-2">
        <span class="sr-only">Adresse :</span>
        {address}
      </p>
    )
  }

  {
    mail && (
      <p class="mb-2">
        <span class="sr-only">Email :</span>
        <a
          href={`mailto:${mail}`}
          class="hover:text-secondary focus:ring-secondary focus:ring-offset-primary transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
          aria-label={`Envoyer un email à ${mail}`}
        >
          {mail}
        </a>
      </p>
    )
  }

  {
    phone && (
      <p>
        <span class="sr-only">Téléphone :</span>
        <a
          href={`tel:${phone.replace(/\s/g, "")}`}
          class="hover:text-secondary focus:ring-secondary focus:ring-offset-primary transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
          aria-label={`Appeler ${phone}`}
        >
          {phone}
        </a>
      </p>
    )
  }
</address>

